<% content_for :banner_content do %>
  <div class="main-banner banner-holder home-slider">
    <div class="fixed-banner">
      <div class="slide-parallax slide-parallax-move banner-confrence overlay">
        <div class="banner-text">
          <div class="container">
            <div class="content confrence-content">
              <div class="inner text-center banner-count-down ">
                <h5>Fully dedicated conference for</h5>
                <h2>Dribbble <strong><u>Conference</u></strong> Australia 2017</h2>
                <div class="post-info">
                  <span class="post-date">
                  <i class="fa fa-calendar-check-o"></i> Wednesday, 12.July.2017
                  </span>
                  <span class="post-location">
                  <i class="fa fa-map-marker"></i> Canbera, Australia
                  </span>
                </div>
                <!--post info-->
                <div class="count-wrap" data-end-date="June 30, 2017"></div>
              </div>
              <!--inner-->
            </div>
          </div>
        </div>
        <!--banner text-->                          
      </div>
    </div>
    <!--fiexed banner-->
  </div>
  <!--banner ends-->
<% end %>


<section class="about-block pb-0 bg-blue">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-6 left">
      <div class="top bg-white">
        <div class="box primary-padding">
          <h6>THIS IS A UX CONFERENCE WITH A DIFFERENCE</h6>
          <h4>Lorem ipsum dolor sit amet, consectetur adi piscing elit. Ut non arcu ut elit ultrices temp us. Aenean tempor mauris vitae leo consect etur pellentesque.</h4>
          <a href="02-enstruct-homepage-conference.html#" class="btn btn-lg text-uppercase bg-yellow">tickets on sale now!</a>
        </div>
      </div>
      <!--top-->
      <div class="bottom Up">
        <div class="box primary-padding">
          <p>
            Curabitur et lacinia metus, in iaculis neque. Aliquam sit amet hendrerit ex, non dignissim tortor. Vivamus in erat a turpis consectetur imperdiet. In vel porta justo. Pellentesque malesuada hendrerit nibh nec pulvinar. Phasellus sed neque ante. Aliquam non blandit urna. Aenean in euismod nunc. Morbi ullamcorper tincidunt ex. Fusce molestie at sem sit amet condimentum. Pellentesque vitae nisl a lacus placerat sollicitudin.
          </p>
          <p>
            Nam eleifend risus non metus pulvinar, sit amet sodales metus porta. Nullam sit amet malesuada lectus. Cras bibendum libero sed ornare pharetra. Proin posuere mauris eu ligula eleifend, sollicitudin. In vel porta justo. Pellentesque malesuada hendrerit nibh nec pulvinar. Phasellus sed neque ante. Aliquam non blandit urna. Aenean in euismod nunc. Morbi ullamcorper tincidunt Curabitur et lacinia metus, in iaculis neque. Aliquam sit amet hendrerit ex.
          </p>
        </div>
      </div>
      <!--bottom-->
    </div>
    <!--left-->
    <div class="col-md-6 col-sm-6 right">
      <figure class="about-full-bg overlay">
        <%= image_tag "enstruct_layout/about-right-full-bg.jpg", alt: "About" %>
      </figure>
    </div>
  </div>
</section>
<!--about block-->
<section class="primary-padding speakers-block team">
  <div class="container">
    <div class="row Up">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">Conference Speakers</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae sunt explicabo.
          </p>
        </div>
      </div>
      <!--title-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                David Willson
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap  ">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etquas architecto beatae vitae dicta sunt explic abo.  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/team1.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            David Willson
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                David Willson
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap  ">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etquas architecto beatae vitae dicta sunt explic abo.  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="<img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/team3.png", alt: "Team image"%>
            </figure>
          </div>
          <h5>
            David Willson
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                David Willson
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap  ">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etquas architecto beatae vitae dicta sunt explic abo. 
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/team2.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            David Willson
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                David Willson
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap ">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etquas architecto beatae vitae dicta sunt explic abo.  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/team7.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            David Willson
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                David Willson
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap ">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etquas architecto beatae vitae dicta sunt explic abo.  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/team8.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            David Willson
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                David Willson
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap ">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis etquas architecto beatae vitae dicta sunt explic abo.  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/team2.png" ,alt: "Team image" %>
            </figure>
          </div>
          <h5>
            David Willson
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
    </div>
  </div>
</section>
<!--speaker block-->
<section class="gray-bg primary-padding prog-schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">Program Schedule</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae sunt explicabo.
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <div class="row no-gutters schedule-tab mb-8 hidden-lg-down">
      <div class="col-md-10 col-sm-10 offset-sm-1 ">
        <ul class="nav nav-tabs row">
          <li class=" nav-item col-sm-2">
            <a href="02-enstruct-homepage-conference.html#day1" class=" nav-link gray-bg active" data-toggle="tab">
            day 1
            <span>January 2, 2017</span>
            </a>
          </li>
          <li class=" nav-item col-sm-2">
            <a href="02-enstruct-homepage-conference.html#day2" class=" nav-link gray-bg" data-toggle="tab">
            day 2
            <span>January 3, 2017</span>
            </a>
          </li>
          <li class=" nav-item col-sm-2">
            <a href="02-enstruct-homepage-conference.html#day3" class=" nav-link gray-bg" data-toggle="tab">
            day 3
            <span>January 4, 2017</span>
            </a>
          </li>
          <li class=" nav-item col-sm-2">
            <a href="02-enstruct-homepage-conference.html#day4" class=" nav-link gray-bg" data-toggle="tab">
            day 4
            <span>January 4, 2017</span>
            </a>
          </li>
          <li class=" nav-item col-sm-2">
            <a href="02-enstruct-homepage-conference.html#day5" class=" nav-link gray-bg" data-toggle="tab">
            day 5
            <span>January 5, 2017</span>
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="day1">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png", alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png", alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb"%>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt:"Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day2">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day3">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day4">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day5">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb"%>
                      </figure>
                      <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>Why is Dribbble a good platform for designers?</h6>
                  <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
        </div>
      </div>
      <!--programme schedule tab-->
    </div>
    <!--schedule tab-->
    <div id="accordion2" class="hidden-xl-up">
      <h3>Day 1 <span>January 2, 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                  </figure>
                  <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                  </figure>
                  <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 2 <span>January 3, 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb"%>
                  </figure>
                  <h6>David Willson  <span>Co-Founder/CTO, Hamro LLC </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/speaker-thumb.png", alt: "Speaker thumb" %>
                  </figure>
                  <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 1 <span>January 3, 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %>
                  </figure>
                  <h6>David Willson <span>Co-Founder/CTO, Hamro LLC </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %></figure>
                  <h6>David Willson
                    <span>Co-Founder/CTO, Hamro LLC </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 1 <span>January 4, 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb" %></figure>
                  <h6>David Willson
                    <span>Co-Founder/CTO, Hamro LLC </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb"%></figure>
                  <h6>David Willson
                    <span>Co-Founder/CTO, Hamro LLC </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 5 <span>January 5, 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb"%></figure>
                  <h6>David Willson
                    <span>Co-Founder/CTO, Hamro LLC </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/speaker-thumb.png" ,alt: "Speaker thumb"%></figure>
                  <h6>David Willson
                    <span>Co-Founder/CTO, Hamro LLC </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>Why is Dribbble a good platform for designers?</h6>
              <p>Sed condimentum tempus auctor. Etiam euismod dapibus odio</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
    </div>
  </div>
</section>
<!--programme schedule block-->
<section class="primary-padding counter-block overlay">
  <div class="container">
    <div class="row Up">
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="389" data-speed="8000"></span>
        </div>
        <h6 class="text-white">Events Listed</h6>
      </div>
      <!--single counter-->
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="1290" data-speed="8000"></span>
        </div>
        <h6 class="text-white">sponsor listed</h6>
      </div>
      <!--single counter-->
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="86" data-speed="8000"></span>K
        </div>
        <h6 class="text-white">visited events</h6>
      </div>
      <!--single counter-->
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="12" data-speed="8000"></span>K
        </div>
        <h6 class="text-white">coffee consumed</h6>
      </div>
      <!--single counter-->
    </div>
  </div>
</section>
<!--counter-->
<section class="primary-padding pricing-block pb-0">
  <div class="container Up">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">Register to Attend</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae sunt explicabo.
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box text-center box-shadow">
          <div class="title bg-blue">
            <h4 class=" m-0">Small Pass</h4>
          </div>
          <div class="price-block">
            <h2><sup>$</sup>99
              <span>PER PERSON</span>
            </h2>
          </div>
          <!--title-->
          <div class="content-wrap m-0">
            <ul>
              <li>1 User account </li>
              <li>Unlimited options</li>
              <li>Another options for user</li>
              <li>Second another options</li>
              <li>More extra options</li>
              <li>More lorem ipsum option</li>
            </ul>
          </div>
          <!--content-->
          <div class="btn-wrap">
            <a href="02-enstruct-homepage-conference.html#" class="btn btn-lg btn-default">Book Your Seat</a>
          </div>
          <!--button-->
        </div>
      </div>
      <!--single price block-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center box-shadow">
          <div class="title bg-blue">
            <h4 class=" m-0">Medium Pass</h4>
          </div>
          <div class="price-block">
            <h2><sup>$</sup>199
              <span>PER PERSON</span>
            </h2>
          </div>
          <!--title-->
          <div class="content-wrap m-0">
            <ul>
              <li>1 User account </li>
              <li>Unlimited options</li>
              <li>Another options for user</li>
              <li>Second another options</li>
              <li>More extra options</li>
              <li>More lorem ipsum option</li>
            </ul>
          </div>
          <!--content-->
          <div class="btn-wrap">
            <a href="02-enstruct-homepage-conference.html#" class="btn btn-lg btn-default">Book Your Seat</a>
          </div>
          <!--button-->
        </div>
      </div>
      <!--single price block-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center box-shadow">
          <div class="title bg-blue">
            <h4 class=" m-0">Enterprise Pass</h4>
          </div>
          <div class="price-block">
            <h2><sup>$</sup>299
              <span>PER PERSON</span>
            </h2>
          </div>
          <!--title-->
          <div class="content-wrap m-0">
            <ul>
              <li>1 User account </li>
              <li>Unlimited options</li>
              <li>Another options for user</li>
              <li>Second another options</li>
              <li>More extra options</li>
              <li>More lorem ipsum option</li>
            </ul>
          </div>
          <!--content-->
          <div class="btn-wrap">
            <a href="02-enstruct-homepage-conference.html#" class="btn btn-lg btn-default">Book Your Seat</a>
          </div>
          <!--button-->
        </div>
      </div>
      <!--single price block-->
    </div>
    <!--table-->
  </div>
</section>
<!--pricing block-->
<div class="gray-bg primary-padding not-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center Up">
        Above packages does not meet your requirements? Contact here for <a href="02-enstruct-homepage-conference.html#">custom package.</a>
      </div>
    </div>
  </div>
</div>
<!--not meeting-->
<section class="primary-padding sponsor-block">
  <div class="container Up">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">Thanks to our Sponsors</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae sunt explicabo.
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <div class="row sponsor-list">
      <div class="col-md-3 col-sm-3 left">
        <h4 class="m-0">Diamond Sponsor’s</h4>
      </div>
      <!--left-->
      <div class="col-md-9 col-sm-9 right">
        <div class="row ml-0">
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/theme-forest.png" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/code-canyon.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/photo-dune.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/audio-jungle.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/evento-studio.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/theme-forest.png" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/code-canyon.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/photo-dune.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
        </div>
      </div>
    </div>
    <!--Diamond list-->
    <div class="row sponsor-list">
      <div class="col-md-3 col-sm-3 left">
        <h4 class="m-0">Platinium Sponsor’s</h4>
      </div>
      <!--left-->
      <div class="col-md-9 col-sm-9 right">
        <div class="row ml-0">
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/theme-forest.png" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/code-canyon.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/photo-dune.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/audio-jungle.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/evento-studio.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/theme-forest.png" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/code-canyon.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/photo-dune.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
        </div>
      </div>
    </div>
    <!--Platinium list-->
    <div class="row sponsor-list">
      <div class="col-md-3 col-sm-3 left">
        <h4 class="m-0">Gold  Sponsor’s</h4>
      </div>
      <!--left-->
      <div class="col-md-9 col-sm-9 right">
        <div class="row ml-0">
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/theme-forest.png" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/code-canyon.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/photo-dune.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/audio-jungle.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/evento-studio.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/theme-forest.png" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/code-canyon.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
              <%= image_tag "enstruct_layout/photo-dune.jpg" ,alt: "themeforest"%>
            </figure>
          </div>
          <!--singel image-->
        </div>
      </div>
    </div>
    <!--gold list-->
    <div class="col-md-12 col-sm-12 text-center">
      <a href="02-enstruct-homepage-conference.html#" class="btn btn-lg btn-default">Become a Sponsor</a>
    </div>
    <!--button-->
  </div>
</section>
<!--main ends-->
<% content_for :after_footer do %>
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<% end %>