<% content_for :banner_content do %>

<div class="main-banner banner-holder home-slider">
  <div class="fixed-banner">
    <div class="slide-parallax slide-parallax-move banner-confrence overlay">
      <div class="banner-text">
        <div class="container">
          <div class="content confrence-content">
            <div class="inner text-center banner-count-down ">
              <h5>360 Soccer Presents</h5>
              <h2>Elite <strong><u>Player</u></strong> Development Camp</h2>
              <div class="post-info">
                <span class="post-date">
                <i class="fa fa-calendar-check-o"></i> Wednesday,June26-June 29th.2017
                </span>
                <span class="post-location">
                <i class="fa fa-map-marker"></i> Brandon, Florida
                </span>
              </div>
              <div class="post-info">
                <span class="post-date">
                <i class="fa fa-calendar-check-o"></i> Wednesday,July 10-July 13th 2017
                </span>
                <span class="post-location">
                <i class="fa fa-map-marker"></i>  Brandon, Florida
                </span>
              </div>
              <!--post info-->
              <div class="count-wrap" data-end-date="June 26, 2017"></div>
            </div>
            <!--inner-->
          </div>
        </div>
      </div>
      <!--banner text-->                          
    </div>
  </div>
  <!--fiexed banner-->
</div>
<!--banner ends-->
<% end %>
<section class="about-block pb-0 bg-blue">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-6 left">
      <div class="top bg-white">
        <div class="box primary-padding">
          <h6>About 360 Soccer</h6>
          <h4>Camp Programs will be conducted by Michael Lawrence, former
            Howard University Division 1 Head Men’s Soccer Coach and
            current West Florida Flames Undefeated U9 Development
            Academy team and U18 #2 State ranked & #11 Nationally ranked
            team. Also, featuring special guest professional coaches and
            former professional players that will be in attendance to help with
            the individual player development..
          </h4>
          <a href="#" class="btn btn-lg text-uppercase bg-yellow">Register  Today!</a>
        </div>
      </div>
      <!--top-->
      <div class="bottom Up">
        <div class="box primary-padding">
          <p>
          <h6>Vision</h6>
          Is to provide a soccer experience that will be of exceptional quality that embrace a culture of excellence for all its participants. Our soccer programs will ensure that young players at all levels learn and improve their basic, fundamental soccer skills and techniques in a safe, fun and relax player environment. Our coaching staff will foster an environment that encourages players to strive to reach their full potential in all facets of the beautiful game of soccer and life.
          </p>
          <p>
          <h6>Training Methodology</h6>
          Our training methodology will integrate all trainee in a player centered soccer specific environment where they will learn and improve all facets of their overall development, in fun and relax learning atmosphere. Our staff will place special emphasis on teaching the players how to improve their game technically and tactically, physically and psychology while learning and having FUN doing the right thing. 
          </p>
          <p>
          <h6>SOCCER 360 Camp Programs</h6>
          Our Player Development Camps are designed to help our young players at the Grassroots level learn and improve their basic fundamental soccer skills and techniques in a safe, fun and relax learning environment. Special emphasis will be placed on teaching the kids how to have fun while learning the game of soccer. Tactical information will be disseminated through age appropriate training methods and enjoyable games. SOCCER 360 will ensure that these camps create a FUN learning experience for each camper.  All campers will be divided into groups by age, size and playing abilities. 
          </p>
        </div>
      </div>
      <!--bottom-->
    </div>
    <!--left-->
    <div class="col-md-6 col-sm-6 right">
      <figure class="about-full-bg overlay">
        <%= image_tag "enstruct_layout/Soccer-Boot.png", alt: "About" %>
      </figure>
    </div>
  </div>
</section>
<!--about block-->
<section class="primary-padding speakers-block team">
  <div class="container">
    <div class="row Up">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">360 Soccer Camp </h2>
          <p>
            Camp Programs will be conducted by Michael Lawrence, former
            Howard University Division 1 Head Men’s Soccer Coach and
            current West Florida Flames Undefeated U9 Development
            Academy team and U18 #2 State ranked & #11 Nationally ranked
            team. Also, featuring special guest professional coaches and
            former professional players that will be in attendance to help with
            the individual player development..
          </p>
        </div>
      </div>
      <!--title-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                Mike Lawrence
                <span>Co-Founder/CEO</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap  ">
              <p>
                Michael Lawrence, former
                Howard University Division 1 Head Men’s Soccer Coach and
                current West Florida Flames Undefeated U9 Development
                Academy team and U18 #2 State ranked & #11 Nationally ranked
                team.  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/place.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            Michael Lawrence
            <span>Co-Founder/CEO</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                (TBA)
                <span>Coach</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap  ">
              <p>
                information coming soon 
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/place.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            TBA
            <span>Coach</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <div class="team-description text-center">
            <div class="main-title mb-35">
              <h5>
                TBA
                <span>COACH</span>
              </h5>
            </div>
            <!--title-->
            <div class="content-wrap  ">
              <p>
                information coming soon  
              </p>
            </div>
            <!--content-->
            <ul class="social-icons">
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="02-enstruct-homepage-conference.html#"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
            <!--social-->
          </div>
          <!--description-->
          <div class="img-wrap">
            <figure>
              <%= image_tag "enstruct_layout/place.png", alt: "Team image" %>
            </figure>
          </div>
          <h5>
            TBA
            <span>COACH</span>
          </h5>
        </div>
      </div>
      <!--single team mamber-->
      <!--single team mamber-->
    </div>
  </div>
</section>
<section class="gray-bg primary-padding prog-schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">Program Schedule</h2>
          <p>
            Be Sure to check here for Elite Camp Development Itinerary
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <div class="row no-gutters schedule-tab mb-8 hidden-lg-down">
      <div class="col-md-10 col-sm-10 offset-sm-1 ">
        <ul class="nav nav-tabs row">
          <li class=" nav-item col-sm-2">
            <a href="#day1" class=" nav-link gray-bg active" data-toggle="tab">
            day 1
            <span>Summer 2017</span>
            </a>
          </li>
          <li class=" nav-item col-sm-2">
            <a href="#day2" class=" nav-link gray-bg" data-toggle="tab">
            day 2
            <span>Summer 2017</span>
            </a>
          </li>
          <li class=" nav-item col-sm-2">
            <a href="#day3" class=" nav-link gray-bg" data-toggle="tab">
            day 3
            <span>Summer 2017</span>
            </a>
          </li>
         <li class=" nav-item col-sm-2">
            <a href="#day4" class=" nav-link gray-bg" data-toggle="tab">
            day 4
            <span>Summer 2017</span>
            </a>
          </li> 
           <li class=" nav-item col-sm-2">
            <a href="#day5" class=" nav-link gray-bg" data-toggle="tab">
            day 5
            <span>Summer 2017</span>
            </a>
          </li> 
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="day1">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png", alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png", alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                     <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                   <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb"%>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                   <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt:"Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day2">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day3">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                   <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day4">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                   <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
          <div class="tab-pane" id="day5">
            <ul class="programme-list">
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                       <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                  <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                      </figure>
                      <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                    <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
              <li>
                <div class="box left">
                  <div class="inner">
                    <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                    <div class="speaker">
                      <figure class="rounded-circle">
                        <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb"%>
                      </figure>
                       <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                    </div>
                  </div>
                </div>
                <!--left-->
                <div class="box right">
                   <h6>TBD</h6>
                  <p>TBD</p>
                </div>
                <!--right-->
              </li>
              <!--signel list-->
            </ul>
          </div>
          <!--single day-->
        </div>
      </div>
      <!--programme schedule tab-->
    </div>
    <!--schedule tab-->
    <div id="accordion2" class="hidden-xl-up">
      <h3>Day 1 <span>Summer 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                  </figure>
                  <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360</span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                  </figure>
                  <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 2 <span>Summer 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb"%>
                  </figure>
                  <h6>Mike Lawrence  <span>Co-Founder/CTO, Soccer 360 </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/sc-sm.png", alt: "Speaker thumb" %>
                  </figure>
                  <h6>Mike Lawrence <span>Co-Founder/CTO, Soccer 360 </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 1 <span>Summer 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle">
                    <%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %>
                  </figure>
                  <h6>Mike Lawrence <span>Co-Founder/CTO,Soccer 360 </span></h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
             <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %></figure>
                  <h6>Mike Lawrence
                    <span>Co-Founder/CTO,Soccer 360 </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 1 <span>Summer 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb" %></figure>
                  <h6>Mike Lawrence
                    <span>Co-Founder/CTO, Soccer 360 </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb"%></figure>
                  <h6>Mike Lawrence
                    <span>Co-Founder/CTO, Soccer 360 </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
      <h3>Day 5 <span>Summer 2017</span></h3>
      <div>
        <ul class="programme-list">
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb"%></figure>
                  <h6>Mike Lawrence
                    <span>Co-Founder/CTO,Soccer 360 </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
              <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
          <li>
            <div class="box left">
              <div class="inner">
                <h2> 09 <sup> :00 <span>AM</span> </sup> </h2>
                <div class="speaker">
                  <figure class="rounded-circle"><%= image_tag "enstruct_layout/sc-sm.png" ,alt: "Speaker thumb"%></figure>
                  <h6>Mike Lawrence
                    <span>Co-Founder/CTO, Soccer 360 </span>
                  </h6>
                </div>
              </div>
            </div>
            <!--left-->
            <div class="box right">
               <h6>TBD</h6>
                  <p>TBD</p>
            </div>
            <!--right-->
          </li>
          <!--signel list-->
        </ul>
      </div>
      <!--single accordion-->
    </div>
  </div>
</section>
<!--programme schedule block-->
<!--programme schedule block-->
<!-- <section class="primary-padding counter-block overlay"> -->
<section class="primary-padding counter-block">
  <div class="container">
    <div class="row Up">
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="389" data-speed="8000"></span>
        </div>
        <h6 class="text-white">Kids Tutored</h6>
      </div>
      <!--single counter-->
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="1290" data-speed="8000"></span>
        </div>
        <h6 class="text-white">Hours Planning Camps</h6>
      </div>
      <!--single counter-->
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="86" data-speed="8000"></span>K
        </div>
        <h6 class="text-white">Camps Hours</h6>
      </div>
      <!--single counter-->
      <div class="col-md-3 col-sm-3 text-center">
        <div class="number rounded-circle">
          <span class="timer" data-to="12" data-speed="8000"></span>K
        </div>
        <h6 class="text-white">Total Hours Coaching</h6>
      </div>
      <!--single counter-->
    </div>
  </div>
</section>
<!--counter-->
<section class="primary-padding pricing-block pb-0">
  <div class="container Up">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">June 26-29th CAMP</h2>
          <p>
            Register Today. Spots are filling up Fast! Only 100 participants are allowed don't miss out on all the fun
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <%= render 'plans' %>
    <!--table-->
  </div>
</section>
<!--pricing block-->
<div class="space-30">&nbsp;</div>
<div class="gray-bg primary-padding not-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center Up">
        Above packages does not meet your requirements? Contact Soccer 360 <a href="mailto:mikelaw2014@gmail.com?Subject=Custom%20Package" target="_top">Custom Packages</a>
      </div>
    </div>
  </div>
</div>
<!--not meeting-->
<section class="primary-padding pricing-block pb-0">
  <div class="container Up">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp">July 10th- July 13th CAMP</h2>
          <p>
            Register Today! Spots are filling up Fast! Only 100 participants are allowed don't miss out on all the fun!
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <%= render 'plans' %>
    <!--table-->
  </div>
</section>
<div class="space-30">&nbsp;</div>
<section class="primary-padding sponsor-block">
  <div class="container Up">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-title title-content text-center">
          <h2 class="wow fadeInUp"> Sponsorship Opportunities</h2>
          <p>
            Become A Sponsor Today! Soccer 360 needs your Support. Interested in supporting our Elite Development Player Camp financially? Would you like to get behind our programs. You could have your business listed here on our site and on our practice fileds. Contact us today <a href="mailto:mikelaw2014@gmail.com?Subject=Sponsor%20Package" target="_top">Sponsor Packages</a>
          </p>
        </div>
      </div>
    </div>
    <!--title-->
    <div class="row sponsor-list">
      <div class="col-md-3 col-sm-3 left">
        <h4 class="m-0">Diamond Sponsor’s</h4>
      </div>
      <!--left-->
      <div class="col-md-9 col-sm-9 right">
        <div class="row ml-0">
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo1.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo2.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo3.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo4.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo1.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo2.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo3.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo4.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
        </div>
      </div>
    </div>
    <!--Diamond list-->
    <div class="row sponsor-list">
      <div class="col-md-3 col-sm-3 left">
        <h4 class="m-0">Diamond Sponsor’s</h4>
      </div>
      <!--left-->
      <div class="col-md-9 col-sm-9 right">
        <div class="row ml-0">
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo1.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo2.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo3.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo4.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo1.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo2.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo3.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo4.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
        </div>
      </div>
    </div>
    <!--Diamond list-->
    <!--Platinium list-->
    <div class="row sponsor-list">
      <div class="col-md-3 col-sm-3 left">
        <h4 class="m-0">Gold  Sponsor’s</h4>
      </div>
      <!--left-->
      <div class="col-md-9 col-sm-9 right">
        <div class="row ml-0">
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo1.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo2.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo3.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo4.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo1.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo2.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo3.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
          <div class="col-sm-3">
            <figure>
      <%= image_tag "enstruct_layout/cologo4.png" ,alt: "" %>
            </figure>
          </div>
          <!--singel image-->
        </div>
      </div>
    </div>
    <!--gold list-->
    <div class="col-md-12 col-sm-12 text-center">
      <a href="/" class="btn btn-lg btn-default">Become a Sponsor</a>
    </div>
    <!--button-->
  </div>
</section>
<% content_for :after_footer do %>
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<% end %>