<!DOCTYPE html>
<html>
  <head>
    <title>Webavenue</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield :banner_content %>
    <main>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%= yield :after_footer %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>

