    <footer>
        <div class="primary-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h4 class="title"><%= image_tag "enstruct_layout/360_2.png",alt: "logo" %></h4>
                        <div class="content-wrap">
                            <p>
                                Camp Programs will be conducted by Michael Lawrence, former
                                Howard University Division 1 Head Men’s Soccer Coach and
                                current West Florida Flames Undefeated U9 Development
                                Academy team and U18 #2 State ranked & #11 Nationally ranked
                                team. Also, featuring special guest professional coaches and
                                former professional players that will be in attendance to help with
                                the individual player development
                            </p>
                        </div>
                        <ul class="social-icons ">
                            <li>
                                <a href="#" class="rounded-circle"> <i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="rounded-circle"> <i class="fa fa-twitter"></i></a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <!--footer about-->

                    <div class="col-md-2 col-sm-2 quick-links">
                        <h4>Quick Links</h4>
                        <ul class="footer-links">
                            <li><%=link_to 'WFF MEMBERS FULL DAY',soccer_programs_path(query: "wffull")%></li>
                           <li><%=link_to 'WFF MEMBERS HALF DAY',soccer_programs_path(query: "wffhalf")%></li>
                           <li><%=link_to 'NON MEMBERS FULL DAY',soccer_programs_path(query: "nonfull")%></li>
                           <li><%=link_to 'NON HALF FULL DAY',soccer_programs_path(query: "nonhalf")%></li>
                        </ul>
                    </div>
                    <!--foter links-->

                    <div class="col-md-3 col-sm-3 biz-info">
                        <h4>Business Info</h4>
                        <h6>Soccer 360 Inc</h6>
                        <p>Brandon, Florida</p>

                        <div class="business-hour mt-4">
                            <p>
                                <strong>Business Hours:</strong>
                                <br> Mon - Saturday - 9:00am to 6pm
                                <br> Sunday - 12am to 5pm
                            </p>
                        </div>
                    </div>
                    <!--business-info-->

                    <div class="col-md-3 col-sm-3">
                        <h4>Newsletter</h4>
                        <p>Subscribe to our newsletter for latest news and updates directly in your inbox.</p>
                        <form action="#" class="subscription">
                            <input type="text" placeholder=" Coming Soon ">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <!--newsletter-->
                </div>
            </div>
        </div>
        <!--top-->

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        Copyright 2017 © <span class="text-blue">Soccer 360.</span> All rights reserved. <a href="#" class="text-yellow"> Soccer Camp 360</a>
                    </div>
                    <!--left-->

                    <div class="col-md-6 col-sm-6 ">
                        <ul class="footer-links footer-sub-links">
                            <li><a href="#">Press</a></li>
                            <li><a href="">Privacy Policy </a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->

    </footer>